{% extends 'site/base.html' %}
{% load static %}

{% block title %}Phandeeyar Dashboard {% endblock title %}

{% block content %}
	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
		</div>

		<!-- Content Row -->
		<div class="row">
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Number of
									Posts In The Week
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_posts }}</div>
							</div>
							<div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
						</div>
					</div>
				</div>
			</div>

			<!--Number Of Comments in Selected Date Range Card-->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Number Of
									Comments in Selected Date Range
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ number_of_comments }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Percentage of Hate Speech Comments Card -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Percentage of Hate
									Speech Comments
								</div>
								<div class="row no-gutters align-items-center">
									<div class="col-auto">
										<div
											class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ hate_speech_percent | floatformat }}</div>
									</div>
								</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-percent fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Number of Unique Users Card -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
									Number of Unique Users
								</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ num_unique_users }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Content Row -->
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-sm-12 col-md-12 col-mb-12">
				<div class="card shadow mb-4">
					<div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Top 20 Malicious Users
						For The Week</h6></div>
					<div class="card-body">
						<div class="chart-bar">
							<canvas id="maliciousUsersChart"></canvas>
						</div>
						<p class="mb-4">
							The graph shows the top 20 malicious users identified based on their maliciousness score.
							The maliciousness score is a compound measure which takes into account the total number of
							comments made, the number of hate speech comments made, the percentage of hate speech
							comments and the influence in the network as measured by degree centrality and page rank.
							For more information on the methodology, please click
							<a
								target="_blank"
								class="btn-link"
								href="{% url 'app:methodology' %}">
								here
							</a>.
							To access a specific user's Facebook profile, please click on the corresponding bar. To see
							the groups targeted by an individual user, please hover over their bar.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-sm-6 col-md-6 col-mb-6">
				<div class="card shadow mb-4">
					<div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Hate speech expressions
						most frequently used by malicious users</h6></div>
					<div class="card-body">
						<div id="my_dataviz"></div>
						<p class="mb-4">
							The trending hate speech expressions this week
							are <strong>{{ lexicons.0.label }}</strong>, <strong>x{{ lexicons.1.label }}</strong>, and
							<strong>{{ lexicons.2.label }}</strong>, targeting
							<strong>{{ lexicons.0.targetted_group }}</strong>,
							<strong>{{ lexicons.1.targetted_group }}</strong>, and
							<strong>{{ lexicons.2.targetted_group }}</strong>.
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 mb-4">
				<!-- Targeted Groups Card -->
				<div class="card shadow mb-4">
					<div class="card-header py-3">
						<h6 class="m-0 font-weight-bold text-primary">Groups targeted by malicious users in hate speech
							comments</h6>
					</div>
					<div class="card-body">
						{% for group in targeted_groups_data %}
							<h4 class="small font-weight-bold">{{ group.group }}
								<span class="float-right">{{ group.percentage }} %</span>
							</h4>
							<div class="progress mb-4">
								<div class="progress-bar"
									 role="progressbar"
									 style="width: {{ group.percentage }}%" aria-valuenow="{{ group.percentage }}"
									 aria-valuemin="0" aria-valuemax="100">
								</div>
							</div>
						{% endfor %}
						<p class="mb-4">
							The most frequently targeted groups
							are {{ targeted_groups_data.0.group }}, {{ targeted_groups_data.1.group }},
							and {{ targeted_groups_data.3.group }}.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block    additional_scripts %}
	<script type="text/javascript">
		let top20MostMaliciousUsers = {{ top_20_malicious_users | safe }}
			top20MostMaliciousUsers = top20MostMaliciousUsers.map((user) => user.fields);
		let word_cloud_data = {{ word_cloud_data | safe }}
			word_cloud_data = word_cloud_data.map((word_data) => word_data.fields);
	</script>
	{# Contains cloud config #}
	<script src="{% static 'vendor/sb-admin-2/js/demo/cloud.js' %}"></script>
	{# Wordcloud Data	#}
	<script src="{% static 'vendor/sb-admin-2/js/demo/wordcloud.js' %}"></script>
	<script src="{% static 'vendor/sb-admin-2/js/demo/chart/bar.js' %}"></script>
	<script src="{% static 'vendor/sb-admin-2/js/demo/chart/pie.js' %}"></script>
{% endblock additional_scripts %}
